@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: playfair_reg;
  src: url("./assets/font/PlayfairDisplay-Regular.ttf") format('truetype');
}

@font-face {
  font-family: playfair_italic;
  src: url("./assets/font/PlayfairDisplay-Italic.ttf") format('truetype');
}

@font-face{
  font-family: Coffee;
  src: url("./assets/font/CoffeeLatte.ttf") format('truetype');
}

@font-face {
  font-family: cof_menu;
  src: url("./assets/font/FrederickatheGreat-Regular.ttf") format('truetype');
}