@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: playfair_reg;
  src: url("./assets/font/PlayfairDisplay-Regular.ttf") format('truetype');
}

@font-face {
  font-family: playfair_italic;
  src: url("./assets/font/PlayfairDisplay-Italic.ttf") format('truetype');
}

@font-face {
  font-family: playfair_md;
  src: url('./assets/font/PlayfairDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: cof_menu;
  src: url("./assets/font/FrederickatheGreat-Regular.ttf") format('truetype');
}

/* Mobile View Sidebar */
.sidebar
{
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translatex(100px);
    transform: translatex(100px);
  }
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translatex(100px);
    transform: translatex(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


