@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: Coffee;
  src: url("./assets/font/CoffeeLatte.ttf") format('truetype');
}

@font-face {
  font-family: cof_menu;
  src: url("./assets/font/FrederickatheGreat-Regular.ttf") format('truetype');
}